In [10]:
import pandas as pd
import numpy as np

In [4]:
path = 'traj_1.csv'
traj_data = pd.read_csv(path)

In [5]:
traj_data.head()

,Vehicle Number,Vehicle Type,Time (sec),Length (m),Width (m),Long Distance (m),Long Speed (m/sec),Long Acc (m/sec2),Lat Distance (m),Lat Speed (m/sec),Lat Acc (m/sec2),Flag
0,1,1,3.0,1.8,0.6,21.824918,4.874649,-0.722183,2.351874,-0.009967,-0.105182,0
1,1,1,3.5,1.8,0.6,25.926373,4.243077,0.308803,2.292952,-0.062771,0.014188,0
2,1,1,4.0,1.8,0.6,30.411296,5.319463,1.023511,2.206669,0.037657,0.238653,0
3,1,1,4.5,1.8,0.6,35.699721,6.575488,2.213050,2.407390,0.141523,-0.147137,0
4,1,1,5.0,1.8,0.6,43.430696,7.267821,-1.793718,2.438842,-0.099596,-0.240332,0

In [6]:
traj_data.describe()

,Vehicle Number,Vehicle Type,Time (sec),Length (m),Width (m),Long Distance (m),Long Speed (m/sec),Long Acc (m/sec2),Lat Distance (m),Lat Speed (m/sec),Lat Acc (m/sec2),Flag
count,39.0,39.0,39.000000,3.900000e+01,3.900000e+01,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.0
mean,1.0,1.0,12.500000,1.800000e+00,6.000000e-01,123.479152,5.669516,0.019409,3.041542,0.065051,0.001012,0.0
std,0.0,0.0,5.700877,4.498945e-16,2.249473e-16,62.915927,0.748016,0.956838,0.909469,0.115290,0.125758,0.0
min,1.0,1.0,3.000000,1.800000e+00,6.000000e-01,21.824918,3.526778,-2.624294,2.104038,-0.177829,-0.258008,0.0
25%,1.0,1.0,7.750000,1.800000e+00,6.000000e-01,69.943489,5.197938,-0.382358,2.331574,-0.008459,-0.101098,0.0
50%,1.0,1.0,12.500000,1.800000e+00,6.000000e-01,123.427481,5.652096,0.031692,2.660361,0.076728,0.014188,0.0
75%,1.0,1.0,17.250000,1.800000e+00,6.000000e-01,176.034540,6.098554,0.396294,3.690462,0.139336,0.077772,0.0
max,1.0,1.0,22.000000,1.800000e+00,6.000000e-01,229.066914,7.267821,2.213050,4.753152,0.338196,0.238653,0.0

In [9]:
speed = traj_data["Long Speed (m/sec)"]
speed.head()

0    4.874649
1    4.243077
2    5.319463
3    6.575488
4    7.267821
Name: Long Speed (m/sec), dtype: float64

In [11]:
speed_mean = np.mean(speed)
print(speed_mean)

5.66951561197436

### Initial Conditions
x00 = 50m , sig_e = 40 , var_e = 1600 <br />
v = 10 m/s , q_p = 0.01 <br />
p_e = var_e = 1600 <br />
del_t = 0.5 <br />
sig_m = 1 , var_m = 1 <br />

### Prediction

x10 = 50 + (0.5) * 10 = 55m <br />
v = 10 m/s <br />
p_e_10 = 1600 + q_p = 1600 + 0.01 = 1600.01

In [14]:
p_e_10 = 1600.01
x10 = 55
v = 10
q_p = 0.01
p_e_10 = 1600 + q_p
t = 0.5

# 1

# measure
z1 = 21.82
r1 = 1

# update
K1 = p_e_10 / (p_e_10 + r1)
print('K1: ',K1)

x11 = x10 + ( K1 * ( z1 - x10 ) )
print('x11: ',x11)

p_e_11 = ( 1 - K1 ) * p_e_10
print('p_e_11: ',p_e_11)

# predict
x21 = x11 + ( t * v )
print('x21: ',x21)

p_e_21 = p_e_11 + q_p
print('p_e_21: ',p_e_21)

K1:  0.9993753942823592
x11:  21.84072441771132
p_e_11:  0.9993753942824251
x21:  26.84072441771132
p_e_21:  1.009375394282425

In [15]:
# 2

z2 = 25.93
r2 = 1

K2 = p_e_21 / (p_e_21 + r2)
print('K2: ',K2)

x22 = x21 + (K2 * (z2 - x21))
print('x22: ',x22)

p_e_22 = p_e_21 * (1 - K2)
print('p_e_22: ',p_e_22)

x32 = x22 + (t*v)
print('x32: ',x32)

p_e_32 = p_e_22 + q_p
print('p_e_32: ',p_e_32)

K2:  0.5023329125829605
x22:  26.383237568401974
p_e_22:  0.5023329125829603
x32:  31.383237568401974
p_e_32:  0.5123329125829603

In [16]:
# 3

z3 = 30.41
r3 = 1

K3 = p_e_32 / (p_e_32 + r3)
print('K3: ',K3)

x33 = x32 + (K3 * (z3 - x32))
print('x33: ',x33)

p_e_33 = p_e_32 * (1 - K3)
print('p_e_33: ',p_e_33)

x43 = x33 + (t*v)
print('x43: ',x43)

p_e_43 = p_e_33 + q_p
print('p_e_43: ',p_e_43)

K3:  0.3387699284464629
x33:  31.053533946993028
p_e_33:  0.3387699284464629
x43:  36.05353394699303
p_e_43:  0.34876992844646293

In [17]:
# 4

z4 = 35.70
r4 = 1

K4 = p_e_43 / (p_e_43 + r4)
print('K4: ',K4)

x44 = x43 + (K4 * (z4 - x43))
print('x44: ',x44)

p_e_44 = p_e_43 * (1 - K4)
print('p_e_44: ',p_e_44)

x54 = x44 + (t*v)
print('x54: ',x54)

p_e_54 = p_e_44 + q_p
print('p_q_54: ',p_e_54)

K4:  0.2585837073400519
x44:  35.96211582830901
p_e_44:  0.2585837073400519
x54:  40.96211582830901
p_q_54:  0.26858370734005194

In [18]:
# 5

z5 = 43.43
r5 = 1

K5 = p_e_54 / (p_e_54 + r5)
print('K5: ',K5)

x55 = x54 + (K5 * (z5 - x54))
print('x55: ',x55)

p_e_55 = p_e_54 * (1 - K5)
print('p_e_55: ',p_e_55)

x65 = x55 + (t*v)
print('x65: ',x65)

p_e_65 = p_e_55 + q_p
print('p_q_65: ',p_e_65)

K5:  0.21171934164534906
x55:  41.4846146403964
p_e_55:  0.21171934164534903
x65:  46.4846146403964
p_q_65:  0.22171934164534904

In [19]:
# 6

z6 = 49.23
r6 = 1

K6 = p_e_65 / (p_e_65 + r6)
print('K6: ',K6)

x66 = x65 + (K6 * (z6 - x65))
print('x66: ',x66)

p_e_66 = p_e_65 * (1 - K6)
print('p_e_66: ',p_e_66)

x76 = x66 + (t*v)
print('x76: ',x76)

p_e_76 = p_e_66 + q_p
print('p_q_76: ',p_e_76)

K6:  0.1814814041879281
x66:  46.98285103049424
p_e_66:  0.18148140418792813
x76:  51.98285103049424
p_q_76:  0.19148140418792814

In [20]:
# 7

z7 = 52.49
r7 = 1

K7 = p_e_76 / (p_e_76 + r7)
print('K7: ',K7)

x77 = x76 + (K7 * (z7 - x76))
print('x77: ',x77)

p_e_77 = p_e_76 * (1 - K7)
print('p_e_77: ',p_e_77)

x87 = x77 + (t*v)
print('x87: ',x87)

p_e_87 = p_e_77 + q_p
print('p_q_87: ',p_e_87)

K7:  0.16070868039978783
x77:  52.06435427214962
p_e_77:  0.1607086803997878
x87:  57.06435427214962
p_q_87:  0.17070868039978782